html * {
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px; 
    height: 300px;

}

#name-box {
    display: flex;
    position: relative;
    top: -10px;
    left: -100px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#room-box {
    display: flex;
    position: relative;
    top: 50px;
    left: -255px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#main-title {
    display: flex;
    position: relative;
    top: -70px;
    left: 180px;
    font-weight: bold;
}

#join-button {
    display: flex;
    position: relative;
    top: 100px;
    left: -220px;
    background-color: #337AB7;
    color: white;
    
    

}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    width: 250%;
}